@*--------------------------------------------------------------------------
    **
    **  Copyright © 2022, Dale Sinder
    **
    **  Name: Tracker.razor
    **
    **  Description:
    **      Sequencer / Tracker editor
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------*@


@using Notes2022.Shared
@using Blazored.SessionStorage
@using Microsoft.AspNetCore.Components.Authorization
@using Notes2022.RCL.User.Comp

@inject HttpClient Http
@inject HttpClient Http

@inject NavigationManager NavMan
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Tracked Notes Files List</h3>

@if (files == null)
{
    <p class="center"><em>Loading...</em></p>
}
else
{

    <AuthorizeView>
        <Authorized>
            <table class="table">
                <thead>
                    <tr>
                        <th>Move Up/Down</th>
                        <th>Check to Follow</th>
                        <th>
                            NoteFile Name
                        </th>
                        <th>
                            NoteFile Title
                        </th>
                        <th>
                            Last Edited
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (NoteFile file in files)
                    {
                        Sequencer CurrentTracker = trackers.SingleOrDefault(p => p.NoteFileId == file.Id);
                        bool current = CurrentTracker != null;
                        <tr>
                            <td>
                                <TrackerMover CurrentTracker="@CurrentTracker" Trackers="@trackers" Tracker="@this"></TrackerMover> 
                            </td>
                            <td>
                                <SCheckBox fileId="@file.Id" isChecked="@current" Tracker="@this"></SCheckBox>
                            </td>
                            <td>
                                @file.NoteFileName
                            </td>
                            <td>
                                @file.NoteFileTitle
                            </td>
                            <td>
                                @Globals.LocalTimeBlazor(file.LastEdited).ToShortTimeString() @Globals.LocalTimeBlazor(file.LastEdited).ToShortDateString()
                            </td>

                        </tr>
                    }

                </tbody>

            </table>

            <button type="button" @onclick="Cancel" class="btn btn-info btn-sm">Done</button>

        </Authorized>
        <NotAuthorized>
            Access denied!
        </NotAuthorized>
    </AuthorizeView>


}



