@*--------------------------------------------------------------------------
    **
    **  Copyright © 2022, Dale Sinder
    **
    **  Name: NoteEditor.razor
    **
    **  Description: Edits and creates new notes
    **  
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------*@

@using Syncfusion.Blazor.RichTextEditor

@if (noteFile == null)
{
    <p class="center"><em>Loading...</em></p>
}
else
{
    if (ShowChild && Model.RefId != 0)
    {
        @* if references are available make option to show visible *@
        <span>Show References </span><SfSwitch @bind-Checked="ShowChild" TChecked="bool"></SfSwitch>
        @* This panel may show itself recursively to show all refrences *@
        <NotePanel NoteId="Model.RefId" ShowChild="true" IsRootNote="false" ShowButtons="false"></NotePanel>
        <hr />
    }
    if (Model.RefId != 0)
    {
        <span>Show References </span><SfSwitch @bind-Checked="ShowChild" TChecked="bool"></SfSwitch>
    }

    <div class="note-edit">
        <h3>Note Editor - @noteFile.NoteFileName - @noteFile.NoteFileTitle</h3>
        <EditForm id="createform" Model="@Model">

            <strong>Subject</strong>
            <InputText id="name" @bind-Value="Model.MySubject" class="form-control long-input" />

            <strong>Tags</strong>
            <InputText id="title" @bind-Value="Model.TagLine" class="form-control long-input" />

            <strong>Director Message</strong>
            <InputText id="dirmessage" @bind-Value="Model.DirectorMessage" class="form-control long-input" />

            <strong>Note Body</strong>
            <SfRichTextEditor @ref="EditObj" @bind-Value="@Model.MyNote"
                          EditorMode="EditorMode.HTML" EnableResize="true"
                          ShowCharCount="true" Height="500" Width="1000" MaxLength="100000">
                <RichTextEditorImageSettings SaveUrl="api/Image/Save" Path="./UserImages/" />
                <RichTextEditorToolbarSettings @ref="ToolBarObj" Items="@Tools" Type="ToolbarType.MultiRow">

                    <RichTextEditorCustomToolbarItems>
                        <RichTextEditorCustomToolbarItem Name="PCode1">
                            <Template>
                                <SfButton @onclick="InsertCode1">PC</SfButton>
                            </Template>
                        </RichTextEditorCustomToolbarItem>
                        <RichTextEditorCustomToolbarItem Name="PCode">
                            <Template>
                                <SfButton @onclick="InsertCode2">IC</SfButton>
                            </Template>
                        </RichTextEditorCustomToolbarItem>
                    </RichTextEditorCustomToolbarItems>

                </RichTextEditorToolbarSettings>
@*                <RichTextEditorEvents OnToolbarClick="@OnToolbarClickHandler" />
*@            
            </SfRichTextEditor>
        </EditForm>

        <br /><button type="submit" @onclick="HandleValidSubmit" class="btn btn-success btn-sm">Save</button>
        <button type="button" @onclick="CancelEdit" class="btn btn-info btn-sm">Cancel</button>

    </div>
}

<style>
    .e-richtexteditor .e-rte-content .e-content pre {
        padding: 10px;
        background: #F4F5F7 !important;
    }
</style>
