
<div class="dialogs keep-center" style="width:400px;">
    <h3>Search @searchtype</h3>
    <hr />
    <div>
        <h5>Search By</h5>
        <select id="option" @bind="@option">
            <option value="0">-- Select a Search Option --</option>
            <option value="1">Author</option>
            <option value="2">Subject</option>
            <option value="3">Content</option>
            <option value="4">Director Message</option>
            <option value="5">Tag</option>
            <option value="6">Time Before</option>
            <option value="7">Time After</option>
        </select>
        @if (option < 6 && option > 0)
        {
            string txt = "Author";
            if (option == 2) txt = "Subject";
            if (option == 3) txt = "Content";
            if (option == 4) txt = "Director Message";
            if (option == 5) txt = "Tag";
            <h5>@txt</h5>
            <input id="searchtext" type="text" @bind="@text" />
        }
            @if (option > 5)
            {
                <h5>Date/Time</h5>
                <div id="datetimepicker-control">
                    <SfDateTimePicker TValue="DateTime" @bind-Value="@theTime" Placeholder="Select a date and time" Width="250px"></SfDateTimePicker>
                </div>
            }
            <hr />
            <button type="button" @onclick="Searchfor" class="btn btn-success btn-sm">Search</button>
            <button type="button" @onclick="Cancel" class="btn btn-info btn-sm">Cancel</button>
        </div>
</div>

